.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.rfloat {
    float: right;
}

table {
  width: 100%;
}
